body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
}

.mainwrapper {
	max-width:900px;
	margin: auto;
}

table {
 width: 100%;
 border-bottom: 2px #999 solid;
 border-collapse: collapse;
 text-align: left;
}

tr.rowTitle {
   border-top: 2px #999 solid; /* top border only */
   text-align: left;
}

span {
  line-height: 20px;
}

.threadData {
	width: 90%;
}

.thread {
  font-size: 11px;
  padding: 2px 5px;
  margin: 3px;
  border: 0px solid;
  border-radius: 6px;
  background-color: lightblue;
  border-color: blue;
  line-height: 15px;
  display: inline-block;
}

.red {
  background-color: red !important;
  color:white;
}
.orange {
  background-color: orange !important;
  color:white;
}

.workerID {
 
}

.highestHashrate {
  font-size: 10px;
  padding: 4px;
}

.totalHashrate {
  font-size: 14px;
  padding: 5px;
}
